@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap'); /* font-family: 'Oswald',
 sans-serif;*/
 @import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');/*font-family: 'Passion One', cursive;*/

:root{
    --cor1Purple: rgb(75, 18, 102);
    --cor2Yellow:rgb(255, 251, 0,);
}
*{
    margin: 0px;
    color: var(--cor2Yellow);
}
body{
    background-color: rgb(238, 193, 238);
}
.boxLogo{
    height: 70px;
    background: rgba(36, 3, 51, 0.925);
    display: flex;
    justify-content: space-between;
}
.boxNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boxNav>a{
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    color: yellow;
    text-shadow: 1px 1px 2px black;
}
.boxNav>a:hover{
    color: green;
}
.buttonNav{
    display: none;
}
/*=======================================================================================================*/
header{
    background: radial-gradient(rgba(255, 251, 0, 0.973)6%, rgba(59, 10, 82, 0.877)62%);
    height: 450px;
}

.logo{
    margin-left: 10px;
    margin-top: 10px;
    filter:drop-shadow( 0px 0px 10px rgba(0, 0, 0, 0.938));
}
.bigBoxContentHeader{
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentHeader{
    height: 200px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid red;
}
.img1{
    position: absolute;
    left: 0;
    height:420px;
    filter:drop-shadow( 0px 0px 10px rgba(0, 0, 0, 0.938));
    animation: pulse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.img2{
    position: absolute;
    top: -70px;
    left: -220px;
    height:420px;
    filter:drop-shadow( 3px 3px 5px rgba(0, 0, 0, 0.938));
    animation: pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.title{
    margin-top: 10px;
    font-family: 'Zeyada', cursive;
    font-size: 4.3em;
    background: -webkit-linear-gradient(#eb2907, #eb1607, #ffbb00, #fffb00, #fffb00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    bottom: -140px;
    right: -90px;
    width: 320px;
    text-align: center;
    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}















/**/
@media only screen and (max-width: 705px) {

    .buttonNav{
        display: block;
        margin-left: 10px;
        padding: 10px;
    }
    .buttonNav>img{
        margin-left: 10px;
    }
    .optionNav{
        display: none;
    }

    /*==============================================*/
    header{
        background: radial-gradient(rgba(255, 251, 0, 0.973)40%, rgba(65, 3, 124, 0.925)60%);
    }
    .img1{
        height:330px;
        position: absolute;
    }
    .img2{
        height:310px;
        position: absolute;
        left: -130px;
        top: -20px;
    }
    .title{
        margin-top: 10px;
        font-size: 3.3em;
        position: absolute;
        bottom: -140px;
        right: -110px;
        width: 320px;
        text-align: center;
    }
    .img3{
        height: 250px;
    }

}