@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

/*=============================================*/


.titleCardapio1{ 
    background-image: linear-gradient(to top,  rgba(36, 3, 51, 0.925), rgba(5, 1, 8, 0.925), rgba(5, 1, 8, 0.925));
    font-family: 'Passion One', cursive;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-weight: lighter;
    padding: 20px;
}
.titleCardapio{ 
    background:  rgba(36, 3, 51, 0.925);
    font-family: 'Passion One', cursive;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-weight: lighter;
    padding: 20px;
}
.carrossel{
    height: 360px;
    overflow-x: scroll;
    background-image: linear-gradient(to bottom,  rgba(36, 3, 51, 0.925), rgba(5, 1, 8, 0.925));
    background-color: black;
   
}

.carrossel::-webkit-scrollbar {
    width: 10px;  
    height: 10px;             /* width of the entire scrollbar */   
}
  
.carrossel::-webkit-scrollbar-track {
    background: rgba(128, 0, 128, 0);        /* color of the tracking area */
  }
  
.carrossel::-webkit-scrollbar-thumb {
    background-color: rgba(250, 250, 250, 0.356);   /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgba(128, 0, 128, 0);  /* creates padding around scroll thumb */
  }


.boxCards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 320px;
    width: 2500px;
}
.card{
    background: rgb(255, 255, 255);
    border-radius: 20px;
    height: 320px;
    width: 200px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.425);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}



/*=============================================*/


.carrossel1{
    height: 370px;
    overflow-x: scroll;
    background-image: linear-gradient(to bottom,  rgba(36, 3, 51, 0.925), rgba(5, 1, 8, 0.925));
    
}

.carrossel1::-webkit-scrollbar {
    width: 10px;  
    height: 10px;             /* width of the entire scrollbar */   
}
  
.carrossel1::-webkit-scrollbar-track {
    background: rgba(128, 0, 128, 0);        /* color of the tracking area */
  }
  
.carrossel1::-webkit-scrollbar-thumb {
    background-color: rgba(250, 250, 250, 0.356);   /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgba(128, 0, 128, 0);  /* creates padding around scroll thumb */
  }


.boxCards1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 340px;
    width: 1350px;
}
.card1{
    background: rgb(250, 250, 250);
    border-radius: 20px;
    height: 320px;
    width: 200px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.425);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/*=============================================*/


.carrossel2{
    height: 330px;
    overflow-x: scroll;
    background-image: linear-gradient(to bottom,  rgba(36, 3, 51, 0.925), rgba(5, 1, 8, 0.925));
    
}

.carrossel2::-webkit-scrollbar {
    width: 10px;  
    height: 10px;             /* width of the entire scrollbar */   
}
  
.carrossel2::-webkit-scrollbar-track {
    background: rgba(165, 5, 165, 0);        /* color of the tracking area */
  }
  
.carrossel2::-webkit-scrollbar-thumb {
    background-color: rgba(250, 250, 250, 0.356);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgba(128, 0, 128, 0);  /* creates padding around scroll thumb */
  }


.boxCards2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 1800px;
}
.card2{
    background: rgb(250, 250, 250);
    border-radius: 20px;
    height: 280px;
    width: 200px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.425);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}


/*======================CARDS=======================*/
.precoBox{
    height: 25px;
    width: 70px;
    position: absolute;
    right: 2px;
    top: 150px;
    background: rgb(255, 208, 1);
    border-radius: 5px;
    text-align: center;
    padding-top: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.753);
}
.preco{
    text-shadow: 1px 1px 1px black;
    color: white;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.precoBox>img{
    margin-left:60px ;
}
.BoximgCard{
    border-radius: 20px;
    height: 170px;
    width: 95%;
    margin-top: 4.5px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;

}
.BoximgCard>img{
    object-fit: cover;
     border-radius: 20px;
}
.boxDescription{
    margin-top: 5px;
    margin-bottom: 6px;
    width: 90%;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height:25px;
}
.titleCard{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(230, 84, 27);
    margin-top: 6px;
    font-family: 'Mouse Memoirs', sans-serif;
    text-shadow: 1px 1px 2px black;
    font-size: 1.4em;
    letter-spacing:0.7px;
}
.descriptionCard{
    font-family: 'Englebert', sans-serif;
    color: rgb(37, 37, 37);
    font-weight: bold;
    margin-top: 15px;

}
.buttonCard{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 7px 0px 7px;
    margin-top: 17px;
    height: 30px;
    background:rgb(219, 63, 1);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.397);
    margin-top: 36px;
    cursor: pointer;
}
.buttonCard:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.959);
}
.buttonCard1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 7px 0px 7px;
    margin-top: 17px;
    height: 30px;
    background:rgb(219, 63, 1);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.397);
    margin-top: 30px;
    cursor: pointer;
}
.buttonCard1:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.959);
}
.buttonCard2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 7px 0px 7px;
    margin-top: 17px;
    height: 30px;
    background:rgb(219, 63, 1);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.397);
    cursor: pointer;

}
.buttonCard2:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.959);
}






/* cart */

.sobreNos{
    height: 500px;
}







footer{
    height: 200px;
    background-color: black;
}