main{
    height: 700px;
}
.cardapio{
    height: 400px;
   
}
/*=============================================*/
.titleCardapio{ 
    background: rgba(36, 3, 51, 0.925);
    font-family: 'Passion One', cursive;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-weight: lighter;
    padding: 20px;
}
.carrossel{
    height: 330px;
    overflow-x: scroll;
}
.boxCards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 2300px;
}
.card{
    border-radius: 20px;
    height: 260px;
    width: 200px;
    border: 1px solid black;
}
